@font-face {
    font-family: 'roboto-mono';
    src: url('/static/fonts/roboto-mono.ttf') format('tff') /* Modern browsers */
}

/* Universal styling for padding, margin, and box sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000017;
    font-family: 'roboto-mono', sans-serif;
}

/* GAME CONTAINER */
/* Center main content */
#game-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000017;
    height: 700px;
    width: 1000px;
    padding: 50px;
}

#auth-ui, #profile-ui {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    row-gap: 10px;
}

/* LOGIN AND REGISTER PAGE*/
#account-msg {
    font-size: 14px;
    font-weight: 300;
    color: #41dba0;
    letter-spacing: 0.03em;
}

#register-link, #login-link {
    display: inline-block;
    color: #ffc34b;
    text-decoration: underline;
    cursor: pointer;
}

#login-form, #register-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#login-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

/* TYPOGRAPHY FOR LOGIN AND REGISTER PAGE */

/* 'Welcome to spacedash' heading */
h1 {
    font-size: 3em;
    font-weight: 300;
    color: white;
    padding: 50px 0;
}

/* 'spacedash' span within 'Welcome to spacedash' heading */
.spacedash {
    color: #41dba0;
}

/* PROFILE PAGE */
#profile-ui {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

#sprite-select {
    display: flex;
    column-gap: 20px;
    height: 120px;
}

/* Hide the radio input */
.character-radio {
    display: none;
}

/* Circular container around each image */
.character-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 15px;
    background-color: #191f2c;
    border: 2px solid transparent;
    padding: 5px 0 20px 0;
    cursor: pointer;
    transition: border-color 0.6s ease, box-shadow 0.6s ease;
    overflow: hidden; /* Ensures the image does not expand outside the container */
}

/* Default style for images */
.character-image {
    width: 90%;
    height: 90%;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    transition: transform 0.3s ease; /* Smooth scaling effect */
}

/* Scale up the image on hover */
.character-label:hover .character-image {
    transform: scale(1.25); /* Increase image size within the container */
}

.character-label:has(input:checked) {
    border-color: #41dba0;
    box-shadow: 0 0 5px rgba(65, 178, 135, 0.5);
}


#action-menu, #level-menu {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* TYPOGRAPHY FOR PROFILE PAGE */
#character-heading {
    color: #41dba0;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.04em;
    padding: 20px 0;
}

/* INPUT FIELDS */
#username, #password, #create-username, #create-password, #confirm-password {
    font-size: 14px;
    line-height: 1.5;
    background-color: #191f2c;
    border-radius: 7px;
    border: none;
    color: #c8cad9;
    padding: 5px 10px;
    height: 40px;
    width: 250px;
}

#username::placeholder, #password::placeholder, #create-username::placeholder,
#create-password::placeholder, #confirm-password::placeholder {
    color: #5a698a;
}

/* BUTTONS */
#login-button, #register-button, #play-button,
#stats-button, #leaderboard-button, #logout-button,
#levelone-button, #leveltwo-button, #back-button {
    font-size: 14px;
    background-color: #41dba0;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 250px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

/* Hover effect */
#login-button:hover, #register-button:hover, #play-button:hover {
    background-color: #87ffcf; /* Darker green on hover */
}

#login-button:active, #register-button:active, #play-button:active {
    background-color: #b2ffde; /* Darker green on hover */
}

#register-button, #stats-button, #leaderboard-button,
#levelone-button, #leveltwo-button {
    background-color: #ffc34b;
}

#register-button:hover, #stats-button:hover, #leaderboard-button:hover,
#levelone-button:hover, #leveltwo-button:hover {
    background-color: #ffd37d;
}

#register-button:active, #stats-button:active, #leaderboard-button:active,
#levelone-button:active, #leveltwo-button:active {
    background-color: #ffe9c3;
}

#logout-button, #back-button {
    background-color: #e13960;
}

#logout-button:hover, #back-button:hover {
    background-color: #f65279;
}

#logout-button:active, #back-button:active {
    background-color: #ffbecc;
}

/* ERRORS */
#error-div {
    display: flex;
    align-items: center;
    height: 70px;
}

#error-msg {
    font-size: 14px;
    color: #e13960;
}