@font-face {
    font-family: 'roboto-mono';
    src: url('/static/fonts/roboto-mono.ttf') format('tff') /* Modern browsers */
}

/* Universal styling for padding, margin, and box sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000017;
    font-family: 'roboto-mono', sans-serif;
}

/* TYPOGRAPHY */
h1 {
    font-size: 3em;
    font-weight: 300;
    color: white;
}

#account-msg {
    font-size: 14px;
    font-weight: 300;
    color: #41dba0;
    letter-spacing: 0.03em;
}

#register-link, #login-link {
    display: inline-block;
    color: #ffc34b;
    text-decoration: underline;
    cursor: pointer;
}

.spacedash {
    color: #41dba0;
}

/* Center main content */
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000017;
    height: 700px;
    width: 1000px;
}

#game-ui {
    display: flex;
    flex-direction: column;
    padding: 100px;
    height: 100%;
    width: 100%;
}

#auth-div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 50px;
}

#login-form, #register-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#login-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

/* INPUT FIELDS */
#username, #password, #create-username, #create-password, #confirm-password {
    font-size: 14px;
    line-height: 1.5;
    background-color: #191f2c;
    border-radius: 7px;
    border: none;
    color: #c8cad9;
    padding: 5px 10px;
    height: 40px;
    width: 250px;
}

#username::placeholder, #password::placeholder, #create-username::placeholder,
#create-password::placeholder, #confirm-password::placeholder {
    color: #5a698a;
}

/* BUTTONS */
#play-button, #login-button, #register-button, #go-back-button {
    font-size: 14px;
    background-color: #41dba0;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 250px;
}

#register-button {
    background-color: #ffc34b;
}

/* ERRORS */
#error-div {
    display: flex;
    align-items: center;
    height: 70px;
}

#error-msg {
    font-size: 14px;
    color: #e13960;
}