/* Universal styling for padding, margin, and box sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000017;
}

/* Center main content */
#content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000017;
}

#login-button {
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    padding: 5px 25px;
}